{% extends 'mainapp/people/base.html' %}
{% load static %}

{% block content %}
<p class="h1 fw-bold mb-3">
    Personal Info
</p>
<div class="card p-5">
    <p class="h5 fw-bold mb-3">Identifier number: {{user.id}}</p>
    <hr class="my-3">
    <div id='display_info'>
        {% for key, value in instance.display_info.items %}
        {% if key == "user info" or key == "role"  or key == "government_id" or key == "ID"%}
        {% else %}
        <p>
            <span class="fw-bold">{{key}}: </span> {{value}}
        </p> 
        
        {% endif %}
        {% endfor%}
    </div>
    
    <fieldset id='fieldset' class="d-none">
        <form method="POST" action="">
            {%csrf_token%}
            {% include "mainapp/form_snippet.html" with form=form %}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success"><i class="bi bi-pencil-square me-2"></i>Update</button>
            </div>
        </form>
    </fieldset>
</div>

<style>
    .info_update:hover {
        filter: brightness(110%);
        transition: 0.2s ease-in;
    }

 

</style>

<script>
    document.getElementById('enable').addEventListener('click', function() {
        document.getElementById('display_info').classList.add('d-none');
        document.getElementById('fieldset').classList.remove('d-none');
        this.nextElementSibling.classList.remove('d-none');
        this.classList.add('d-none');
    });
</script>



{% endblock %}